{% extends 'MenUSACHBaseBundle:Admin:index.html.twig' %}

{% block body %}
{% block titulo %}
<h3>Administración de Tipos de Pago</h3>
{% endblock %}
<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{{ entity.tpdescripcion }}</td>
            <td><a class="btn btn-link" href="{{
                path('tipopago_edit', { 'id': entity.id }) }}">
                    {{ '.icon-edit Editar'|parse_icons }}</a></td>
            <td><a class="btn btn-link" href="{{
                path('tipopago_delete', { 'id': entity.id }) }}">
                    {{ '.icon-remove Eliminar'|parse_icons }}</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>


<div class="record_actions">
    <a href="{{ path('tipopago_new') }}">{{ '.icon-plus Crear nuevo Tipo de Pago'|parse_icons }}</a>
</div>

{% endblock %}
