{% extends 'MenUSACHBaseBundle:Admin:index.html.twig' %}

{% block body %}
<form class="form-horizontal" action="{{ path('tipopago_create') }}"
      method="post" {{ form_enctype(form) }}>
    <legend>Crear nuevo Local</legend>
    <div class="control-group">
        <div class="control-label">
            {{ form_label(form.tp_descripcion) }}
        </div>
        <div class="controls">
            {{ form_widget(form.tp_descripcion) }}
            <span class="help-block">
                {{ form_errors(form.tp_descripcion) }}
            </span>
        </div>
    </div>

    <div class="controls">
        <input class="btn btn-primary" type="submit" value="Crear"/>
    </div>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('tipopago') }}">
            Volver a la lista de tipos de pago
        </a>
    </li>
</ul>
{% endblock %}
