{% extends 'MenUSACHBaseBundle:Admin:index.html.twig' %}

{% block body%}
{% block titulo %}
<h3>Administración de Categorías</h3>
{% endblock %}

<table class="table">
    <thead>
        <tr>
            <th>Descripción</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{{ entity.catdes }}</td>
            <td><a class="btn btn-link" href="{{
                path('categoria_edit', { 'id': entity.id }) }}">
                    {{ '.icon-edit Editar'|parse_icons }}</a></td>
            <td><a class="btn btn-link" href="{{
                path('categoria_delete', { 'id': entity.id }) }}">
                    {{ '.icon-remove Eliminar'|parse_icons }}</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<div class="record_actions">
    <a href="{{ path('categoria_new') }}">{{ '.icon-plus Crear nueva Categoría'|parse_icons }}</a>
</div>

{% endblock %}                