{% extends '::base.html.twig' %}

{% block body %}
<table class="table">
    <caption><h1>Menús ingresados</h1></caption>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Fecha inicio</th>
            <th>Fecha término</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        {% if entity.menactivo == TRUE %}
        <tr>
            <td>{{ entity.mennombre }}</td>
            <td>{{ entity.menprecio }}</td>
            <td>{% if entity.menfechainicio %}{{ entity.menfechainicio|date('d-m-Y') }}{% endif %}</td>
            <td>{% if entity.menfechatermino %}{{ entity.menfechatermino|date('d-m-Y') }}{% endif %}</td>
            <td><a class="btn btn-link" href="{{
                path('menu_edit', { 'id': entity.id }) }}">
                    {{ '.icon-edit Editar'|parse_icons }}</a></td>
            <td><a class="btn btn-link" href="{{
                path('menu_delete', { 'id': entity.id }) }}">
                    {{ '.icon-remove Eliminar'|parse_icons }}</a></td>
        </tr>
        {% endif %}
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('menu_new') }}">
            Crear nuevo menú
        </a>
    </li>
</ul>
{% endblock %}