{% extends 'MenUSACHBaseBundle:Prop:index.html.twig' %}
{% block body %}
<table class="table">
    <caption><h1>Menús ingresados</h1></caption>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Ubicación</th>
            <th>Estado</th>
            <th>Frecuencia</th>
            <th>Fecha</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{{ entity.men_nombre }}</td>
            <td>${{ entity.men_precio }}</td>
            <td>{{ entity.loc_ubicacion }}</td>
            <td>{% if entity.men_activo == 1 %} Si {% else %} No {% endif %}</td>
            <td>{% if entity.men_frecuencia == 1 %} Especifica {% else %} Permanente {% endif %}</td>
            <td>{% if entity.men_fecha %}{{ entity.men_fecha|date('Y-m-d H:i:s') }}{% endif %}</td>
            <td><a class="btn btn-link" href="{{
                path('menu_edit', { 'id': entity.id }) }}">
                    {{ '.icon-edit Editar'|parse_icons }}</a></td>
            <td><a class="btn btn-link" href="{{
                path('menu_delete', { 'id': entity.id }) }}">
                    {{ '.icon-remove Eliminar'|parse_icons }}</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('menu_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
{% endblock %}
