{% extends '::base.html.twig' %}

{% block body %}
<form action="{{ path('men_usach_create_menu') }}"
      method="post" {{ form_enctype(form) }}>
    {{ form_label(form.men_nombre, 'Nombre del menú') }}
    {{ form_widget(form.men_nombre) }}
    {{ form_errors(form.men_nombre) }}
    {{ form_label(form.men_precio, 'Precio') }}
    {{ form_widget(form.men_precio) }}
    <br />
    <input class="btn" type="submit" />
</form>
{% endblock %}
