{% extends 'MenUSACHBaseBundle:Prop:index.html.twig' %}

{% block body %}
<form class="form-horizontal" action="{{ path('menu_create') }}" 
      method="post" {{ form_enctype(form) }}>
    <legend>Crear nuevo Menú</legend>
    <div class="control-group">
        <div class="control-label">
            {{ form_label(form.men_nombre) }}
        </div>
        <div class="controls">
            {{ form_widget(form.men_nombre) }}
            <span class="help-block">
                {{ form_errors(form.men_nombre) }}
            </span>
        </div>
    </div>
    <div class="control-group">
        <div class="control-label">
            {{ form_label(form.men_precio) }}
        </div>
        <div class="controls">
            {{ form_widget(form.men_precio) }}
            <span class="help-block">
                {{ form_errors(form.men_precio) }}
            </span>
        </div>
    </div>
    <div class="control-group">
        <div class="control-label">
            {{ form_label(form.men_frecuencia) }}
        </div>
        <div class="controls">
            {{ form_widget(form.men_frecuencia) }}
            <span class="help-block">
                Ingrese la periodicidad del menú que venderá.
            </span>
        </div>
        {{ form_errors(form.men_frecuencia) }}
    </div>
    <div class="control-group" id="control_div_1">
        <div id="options_1">
            <div class="control-label">
                {{ form_label(form.men_fecha, 'Fecha de venta:') }}
            </div>
        </div>
        <div id="options_2">
            <div class="controls">
                {{ form_widget(form.men_fecha) }}
            </div>
            {{ form_errors(form.men_fecha) }}
        </div>
    </div>
    
    <div class="controls">
        <input class="btn btn-primary" type="submit" value="Crear"/>
    </div>
    <script type="text/javascript">
    $('#control_div_1').hide();
    $('#options_1').hide();
    $('#options_2').hide();
    $(document).ready(function(){
        var clicknum = 0;
        $("#menusach_bundle_basebundle_menutype_men_frecuencia").click(function(){
            clicknum++;
            if(clicknum == 1){
                if ($(this).val() == 0) {
                    $('#options_1').slideUp();
                    $('#options_2').slideUp();
                    $('#control_div_1').slideUp();
                }
                if ($(this).val() == 1) {
                    $('#options_1').slideDown();
                    $('#options_2').slideDown();
                    $('#control_div_1').slideDown();   
                }

                clicknum = 0;
            }
        });
    });
    </script>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('menu') }}">
            Volver a la lista de menús
        </a>
    </li>
</ul>  
{% endblock %}
