{% extends 'MenUSACHBaseBundle:Admin:index.html.twig' %}
{% block body%}
{% block titulo %}
<h3>Administración de Ingredientes</h3>
{% endblock %}

<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Categoría</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{{ entity.ing_nombre }}</td>
            <td>{{ entity.cat_des }}</td>
            <td><a class="btn btn-link" href="{{
                path('ingrediente_edit', { 'id': entity.id }) }}">
                    {{ '.icon-edit Editar'|parse_icons }}</a></td>
            <td><a class="btn btn-link" href="{{
                path('ingrediente_delete', { 'id': entity.id }) }}">
                    {{ '.icon-edit Eliminar'|parse_icons }}</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<div class="record_actions">
    <a href="{{ path('ingrediente_new') }}">{{ '.icon-plus Crear nuevo Ingrediente'|parse_icons }}</a>
</div>

{% endblock %}
