{% extends '::base.html.twig' %}

{% block body %}
<table class="table">
    <caption><h1>Ingredientes ingresados</h1></caption>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Categoria</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{{ entity.ingnombre }}</td>
            <td>{{ entity.ingcategoria }}</td>
            <td><a class="btn btn-link" href="{{
                path('ingrediente_edit', { 'id': entity.id }) }}">
                    {{ '.icon-edit Editar'|parse_icons }}</a></td>
            <td><a class="btn btn-link" href="{{
                path('ingrediente_delete', { 'id': entity.id }) }}">
                    {{ '.icon-remove Eliminar'|parse_icons }}</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('ingrediente_new') }}">
            Crear nuevo ingrediente
        </a>
    </li>
</ul>
{% endblock %}
