{% extends 'MenUSACHBaseBundle:Admin:index.html.twig' %}

{% block body%}
<form action="{{ path('ingrediente_create') }}" method="post" {{ form_enctype(form) }}>
    <legend>Crear Nuevo Ingrediente</legend>
    {{ form_widget(form) }}
    
    <div class="controls">
        <input class="btn btn-primary" type="submit" value="Crear"/>
    </div>
    
</form>

<div class="record_actions">
    <a href="{{ path('ingrediente') }}">{{ '.icon-arrow-left Volver a Administración de Ingredientes'|parse_icons }}</a>
</div> 

{% endblock %}