{% extends 'MenUSACHBaseBundle:Admin:index.html.twig' %}

{% block body%}
{% block titulo %}
<h2>Actualizar Propietario</h2>
{% endblock %}
<form action="{{ path('admin_prop_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
    <p>
        <button     type="submit">Actualizar</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('admin_prop') }}">Volver</a>
    </li>
    <li>
        <form action="{{ path('admin_prop_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Eliminar</button>
        </form>
    </li>
</ul>
{% endblock %}