{% extends 'MenUSACHBaseBundle:Admin:index.html.twig' %}

{% block body%}
{% block titulo %}
<h2>Administración de Propietarios</h2>
{% endblock %}
<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido paterno</th>
            <th>Apellido materno</th>
            <th>Usuario</th>
            <th>E-mail</th>
            <th>Teléfono Contacto</th>
            <th>Actividad</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{{ entity.pernombre }}</td>
            <td>{{ entity.perapellidopaterno }}</td>
            <td>{{ entity.perapellidomaterno }}</td>
            <td>{{ entity.username }}</td>
            <td>{{ entity.peremail }}</td>
            <td>{{ entity.profono }}</td>
            {% if entity.isActive == 1 %}
                <td>Activo</td>
            {% else %}
                <td>Inactivo</td>
            {% endif %}
            <td><a class="btn btn-link" href="{{
                path('admin_prop_edit', { 'id': entity.id }) }}">
                    {{ '.icon-edit Editar'|parse_icons }}</a></td>
            <td><a class="btn btn-link" href="{{
                path('admin_prop_delete', { 'id': entity.id }) }}">
                    {{ '.icon-remove Eliminar'|parse_icons }}</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<div class="record_actions">
    <a href="{{ path('admin_prop_new') }}">{{ '.icon-plus Crear nuevo Propietario'|parse_icons }}</a>
</div>

{% endblock %}
