{% extends '::base.html.twig' %}

{% block body %}
<form class="form-horizontal" action="{{ path('propietario_create') }}"
      method="post" {{ form_enctype(form) }}>
    <legend>Crear Nuevo Propietario</legend>
    <div class="control-group">
        <div class="control-label">
            {{ form_label(form.per_nombre) }}
        </div>
        <div class="controls">
            {{ form_widget(form.per_nombre) }}
            <span class="help-block">
                {{ form_errors(form.per_nombre) }}
            </span>
        </div>
    </div>
    <div class="control-group">
        <div class="control-label">
            {{ form_label(form.per_apellido_paterno) }}
        </div>
        <div class="controls">
            {{ form_widget(form.per_apellido_paterno) }}
            <span class="help-block">
                {{ form_errors(form.per_apellido_paterno) }}
            </span>
        </div>
    </div>
	<div class="control-group">
        <div class="control-label">
            {{ form_label(form.per_apellido_materno) }}
        </div>
        <div class="controls">
            {{ form_widget(form.per_apellido_materno) }}
            <span class="help-block">
                {{ form_errors(form.per_apellido_materno) }}
            </span>
        </div>
    </div>
	<div class="control-group">
        <div class="control-label">
            {{ form_label(form.per_usuario) }}
        </div>
        <div class="controls">
            {{ form_widget(form.per_usuario) }}
            <span class="help-block">
                {{ form_errors(form.per_usuario) }}
            </span>
        </div>
    </div>
	<div class="control-group">
        <div class="control-label">
            {{ form_label(form.per_password) }}
        </div>
        <div class="controls">
            {{ form_widget(form.per_password) }}
            <span class="help-block">
                {{ form_errors(form.per_password) }}
            </span>
        </div>
    </div>
	<div class="control-group">
        <div class="control-label">
            {{ form_label(form.per_email) }}
        </div>
        <div class="controls">
            {{ form_widget(form.per_email) }}
            <span class="help-block">
                {{ form_errors(form.per_email) }}
            </span>
        </div>
    </div>
	<div class="control-group">
        <div class="control-label">
            {{ form_label(form.pro_fono) }}
        </div>
        <div class="controls">
            {{ form_widget(form.pro_fono) }}
            <span class="help-block">
                {{ form_errors(form.pro_fono) }}
            </span>
        </div>
    </div>

    {{ form_rest(form) }}
    <div class="controls">
        <input class="btn btn-primary" type="submit" value="Crear"/>
    </div>
    <script type="text/javascript">
    $('#control_div_1').hide();
    $('#control_div_2').hide();
    $('#options_1').hide();
    $('#options_2').hide();
    $('#options_3').hide();
    $('#options_4').hide();
    $(document).ready(function(){
        var clicknum = 0;
        $("#menu_form_men_frecuencia").click(function(){
            clicknum++;
            if(clicknum == 2){
                if ($(this).val() == 0) {
                    $('#options_1').slideUp();
                    $('#options_2').slideUp();
                    $('#options_3').slideUp();
                    $('#options_4').slideUp();
                    $('#control_div_1').slideUp();
                    $('#control_div_2').slideUp();
                }
                if ($(this).val() == 1) {
                    $('#options_2').slideUp();
                    $('#options_4').slideUp();
                    $('#control_div_2').slideUp();
                    $('#options_1').slideDown();
                    $('#options_3').slideDown();
                    $('#control_div_1').slideDown();
                    
                }
                if ($(this).val() == 2) {
                    $('#options_1').slideUp();
                    $('#options_2').slideDown();
                    $('#options_3').slideDown();
                    $('#options_4').slideDown();
                    $('#control_div_1').slideDown();
                    $('#control_div_2').slideDown();
                }

                clicknum = 0;
            }
        });
    });
    </script>
</form>
{% endblock %}
