{% extends 'MenUSACHBaseBundle:Admin:index.html.twig' %}

{% block body%}

<form class="form-horizontal" action="{{ path('admin_prop_create') }}" method="post" {{ form_enctype(form) }}>
    <legend>Crear Nuevo Propietario</legend>
    {{ form_widget(form) }}
    <div class="controls">
        <input class="btn btn-primary" type="submit" value="Crear"/>
    </div>
</form>

<div class="record_actions">
    <a href="{{ path('admin_prop') }}">{{ '.icon-arrow-left Volver a Administración de Propietarios'|parse_icons }}</a>
</div> 

{% endblock %}
