{% extends '::base.html.twig' %}

{% block body %}
<table class="table">
    <caption><h1>Propietarios ingresados</h1></caption>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido Paterno</th>
            <th>Apellido Materno</th>
            <th>Nombre de Usuario</th>
            <th>E-mail</th>
            <th>Fono</th>
        </tr>
    </thead>
    <tbody>
        {% for propi in propietario %}
                <td>{{ propi.per_tipo }}</td>
            {% if propi.per_tipo == 1 %}
                <td>{{ propi.per_nombre }}</td>
                <td>${{ propi.per_apellido_paterno }}</td>
                <td>${{ propi.per_apellido_materno }}</td>
                <td>${{ propi.per_usuario }}</td>
                <td>${{ propi.per_password }}</td>
                <td>${{ propi.per_email }}</td>
                <td>${{ propi.pro_fono }}</td>
                <td><a class="btn btn-link" href="{{
                    path('men_usach_update_propietario', { 'id': propi.id }) }}">
                        {{ '.icon-edit Editar'|parse_icons }}</a></td>
                <td><a class="btn btn-link" href="{{
                    path('men_usach_delete_propietario', { 'id': propi.id }) }}">
                        {{ '.icon-remove Eliminar'|parse_icons }}</a></td>
            </tr>
            {% endif %} 
        {% endfor %}
    </tbody>
</table>
<script type="text/javascript">
    $('#myModal').modal(options)
</script>
{% endblock %}
