{% extends 'MenUSACHBaseBundle:Default:index.html.twig' %}

{% block body %}
<select>

	{% for entity in entities_ing %}

		<option value="{{entity.id }}"> {{ entity.ing_nombre }} </option>

	{% endfor %}
</select>
<table class="table">
    <caption><h2>Menús del día {{ "now"|date("d/m/Y") }}</h2></caption>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Local</th>
            <th>Ubicación</th>
            <th>Comentar</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        {% if entity.men_activo == TRUE %}
        <tr>
            <td>{{ entity.men_nombre }}</td>
            <td>${{ entity.men_precio }}</td>
            <td><a href="{{ path('local_show', {'id': entity.id}) }}"> {{ entity.loc_nombre }}</a></td>
            <td><a href="{{ path('RenderMap', {'id': entity.loc_ubicacion}) }}">Aquí</a></td>
            <td><a href="{{ path('CommentMenUSACH', {'id': entity.id}) }}">Aquí</a></td>
        </tr>
        {% endif %}
    {% endfor %}
    </tbody>
</table>
{% endblock %}
