{% extends '::base.html.twig' %}
{% block linkIMG %}
<a class="brand" href="{{ path('PropMenUSACH') }}">
{% endblock %}
{% block MenuRol %}
<li><a href="{{ path('MenuMenUSACH') }}">Administrar Menús</a></li>
<li><a href="{{ path('proplocal')}}">Mi Local</a></li>
<li><a href="{{ path('ContactoMenUSACH') }}">Contacto</a></li>
<div class="btn-group">
    <a class="btn btn-primary" href="#"><i class="icon-user icon-white"></i> {{ app.user.username }}</a>
    <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret icon-white"></span></a>
    <ul class="dropdown-menu">
        <li><a href="{{ path('admin_logout') }}"><i class="icon-ban-circle"></i> Cerrar sesión</a></li>
    </ul>
</div>
{% endblock %}
{% block titulo %}
<h2>Panel de Propietario MenUSACH</h2>
{% endblock %}
