<h1>Local list</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Loc_nombre</th>
            <th>Loc_ubicacion</th>
            <th>Loc_ranking</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('local_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.locnombre }}</td>
            <td>{{ entity.locubicacion }}</td>
            <td>{{ entity.locranking }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('local_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('local_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('local_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
