{% extends 'MenUSACHBaseBundle:Admin:index.html.twig' %}

{% block body %}
{% block titulo %}
<h3>Administración de Locales</h3>
{% endblock %}
<table class="table">
   
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Ubicación</th>
            <th>Ranking</th>
            <th>Propietario</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{{ entity.loc_nombre }}</td>
            <td>{{ entity.loc_ubicacion }}</td>
            <td>{{ entity.loc_ranking }}</td>
            <td>{{ entity.per_nombre }} {{ entity.per_apellido_paterno }} {{ entity.per_apellido_materno }}</td>
            <td><a class="btn btn-link" href="{{
                path('local_edit', { 'id': entity.id }) }}">
                    {{ '.icon-edit Editar'|parse_icons }}</a></td>
            <td><a class="btn btn-link" href="{{
                path('local_delete', { 'id': entity.id }) }}">
                    {{ '.icon-remove Eliminar'|parse_icons }}</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<div class="record_actions">
    <a href="{{ path('local_new') }}">{{ '.icon-plus Crear nuevo local'|parse_icons }}</a>
</div>

{% endblock %}
