{% extends 'MenUSACHBaseBundle:Admin:index.html.twig' %}

{% block body %}
<table class="table">
    <caption><h1>Locales ingresados</h1></caption>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Ubicacion</th>
            <th>Ranking</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{{ entity.locnombre }}</td>
            <td>{{ entity.locubicacion }}</td>
            <td>{{ entity.locranking }}</td>
            <td><a class="btn btn-link" href="{{
                path('local_edit', { 'id': entity.id }) }}">
                    {{ '.icon-edit Editar'|parse_icons }}</a></td>
            <td><a class="btn btn-link" href="{{
                path('local_delete', { 'id': entity.id }) }}">
                    {{ '.icon-remove Eliminar'|parse_icons }}</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('local_new') }}">
            Crear nuevo local
        </a>
    </li>
</ul>
{% endblock %}
