{% extends 'MenUSACHBaseBundle:Prop:index.html.twig' %}


{% block body %}
{% block titulo %}
<h2>Mi Local</h2>
{% endblock %}
<table class="table">
   
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Ubicacion</th>
            <th>Ranking</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{{ entity.loc_nombre }}</td>
            <td>{{ entity.loc_ubicacion }}</td>
            <td>{{ entity.loc_ranking }}</td>
            <td><a class="btn btn-link" href="{{
                path('ImagenUpload', { 'id': entity.id }) }}">
                    {{ '.icon-camera Subir Imagen'|parse_icons }}</a></td>
           
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}
