{% extends '::base.html.twig' %}

{% block body %}
<table class="table">
    <caption><h1>Locales</h1></caption>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Ranking</th>
        </tr>
    </thead>
    <tbody>
        {% for local in locales %}
                <td>{{ local.locNombre }}</td>
                <td>{{ local.locUbicacion }}</td>
                <td>{{ local.locRanking }}</td>
                <td><a class="btn btn-link" href="{{
                    path('local_usach_update', { 'id': local.id }) }}">
                        {{ '.icon-edit Editar'|parse_icons }}</a></td>
                <td><a class="btn btn-link" href="{{
                    path('local_usach_delete', { 'id': local.id }) }}">
                        {{ '.icon-remove Eliminar'|parse_icons }}</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<script type="text/javascript">
    $('#myModal').modal(options)
</script>
{% endblock %}
