{% extends 'MenUSACHBaseBundle:Admin:index.html.twig' %}

{% block body %}
{% block titulo %}
<h2>Local: {{ entity.locnombre }}</h2>
{% endblock %}
{% set urlimage = 'bundles/menusachbase/img/'~ entity.id ~'.jpg' %}
<img title="Image" width="200px" src="{{ asset( urlimage) }}"> </img> 
<table class="table">
    <tbody>
        <tr>
            <th>Ubicación</th>  
            <td><a href="{{ path('RenderMap', {'id': entity.locubicacion}) }}">{{ entity.locubicacion }} [Ver Mapa]</a></td>
        </tr>
        <tr>
            <th>Ranking</th>
            <td>{{ entity.locranking }}</td>
        </tr>
        <tr><th>             
            </th>
            <td>
            </td>
        </tr>
          
    </tbody>
</table>
<div class="record_actions">
    <a href="{{ path('IndexMenUSACH') }}">{{ '.icon-arrow-left Volver al Menú Principal'|parse_icons }}</a>
</div>
{% endblock %}