{% extends '::base.html.twig' %}
{% block title %}Contacto{% endblock%}

{% block body %}
    <header>
        <h1>Contacto Administrador</h1>
    </header>

{% if app.session.hasFlash('blogger-notice') %}
    <div class="alert alert-success">
        {{ app.session.flash('blogger-notice') }}
    </div>

{% endif %}
    <form action="{{ path('ContactoMenUSACH') }}" method="post" {{ form_enctype(form) }} class="blogger">    

        {{ form_row(form.Nombre) }}
        {{ form_row(form.Email) }}
        {{ form_row(form.Asunto) }}
        {{ form_row(form.Comentario) }}      
        {{ form_rest(form) }}
        
        <div>
            <input type="submit" class="btn btn-primary" value="Enviar" />
        </div>
    </form>
{% endblock %}