{% extends '::base.html.twig' %}

{% block body %}
<table class="table">
    <caption><h1>Clientes ingresados</h1></caption>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido paterno</th>
            <th>Apellido materno</th>
            <th>Usuario</th>
            <th>Contraseña</th>
            <th>E-mail</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td>{{ entity.pernombre }}</td>
            <td>{{ entity.perapellidopaterno }}</td>
            <td>{{ entity.perapellidomaterno }}</td>
            <td>{{ entity.perusuario }}</td>
            <td>{{ entity.perpassword }}</td>
            <td>{{ entity.peremail }}</td>
            <td><a class="btn btn-link" href="{{
                path('cliente_edit', { 'id': entity.id }) }}">
                    {{ '.icon-edit Editar'|parse_icons }}</a></td>
            <td><a class="btn btn-link" href="{{
                path('cliente_delete', { 'id': entity.id }) }}">
                    {{ '.icon-remove Eliminar'|parse_icons }}</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('cliente_new') }}">
            Crear nuevo cliente
        </a>
    </li>
</ul>
{% endblock %}